@charset 'utf-8';
@import url('./plugin/jquery-ui.min.css');
*{margin: 0; padding: 0; border: none; box-sizing: border-box;}
html, body{height: 100%;}
body{background: #fafafa;}
.blGroup{margin: 0 auto; width: 800px; height: 100%; background: #fff; position: relative;}
.boxSlider{position: absolute; left: 0; top: 0; width: 100%;}
.blGroupInBox{width: 100%; height: 100%; position: relative;}
.box{width: 340px; height: 50px; border: 1px solid #ddd;}
.box.b_bar{ position: absolute; left: 50%; margin-left: -170px; bottom: 0;}
.box{position: absolute;}
.box:nth-child(2){left: 0;}
.box:nth-child(3){left: 0;}
.box:nth-child(4){left: 0;}
.box:nth-child(5){left: 0;}
.box:nth-child(6){left: 0;}
.box:nth-child(7){left: 0;}
.dropBox{visibility: hidden;}









.guideline{position: absolute; left: 165px; width: 470px; height: 100%; background: red; opacity: .1; top: 0; z-index: 1000; pointer-events: none;}
